*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family: 'Poppins', sans-serif;
}

body{
  background: linear-gradient(270deg, #0f172a, #1e1b4b, #0f172a);
  background-size: 400% 400%;
  animation: bgMove 10s ease infinite;
  color:#fff;
}

@keyframes bgMove{
  0%{background-position:0% 50%;}
  50%{background-position:100% 50%;}
  100%{background-position:0% 50%;}
}

header{
  position:fixed;
  width:100%;
  padding:20px 50px;
  display:flex;
  justify-content:space-between;
  background:rgba(0,0,0,0.4);
  backdrop-filter: blur(10px);
}

nav{
  display:flex;
  justify-content:space-between;
  width:100%;
  align-items:center;
}

.logo{
  font-weight:700;
  font-size:22px;
  color:#8b5cf6;
}

nav ul{
  display:flex;
  list-style:none;
  gap:30px;
}

nav a{
  text-decoration:none;
  color:#fff;
  transition:0.3s;
}

nav a:hover{
  color:#8b5cf6;
}

.hero{
  height:100vh;
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
  text-align:center;
}

.hero h1{
  font-size:48px;
}

.hero span{
  color:#8b5cf6;
}

.typing{
  margin-top:10px;
  font-size:24px;
  color:#c084fc;
}

.btn{
  margin-top:30px;
  padding:12px 30px;
  background:#8b5cf6;
  border-radius:30px;
  text-decoration:none;
  color:#fff;
  transition:0.3s;
}

.btn:hover{
  transform:scale(1.1);
  box-shadow:0 0 20px #8b5cf6;
}

.section{
  padding:100px 10%;
  text-align:center;
}

html {
  scroll-behavior: smooth;
}

.skill{
  margin:20px auto;
  max-width:500px;
  text-align:left;
}

.bar{
  height:8px;
  background:#333;
  border-radius:20px;
  overflow:hidden;
}

.bar div{
  height:100%;
  background:linear-gradient(90deg,#8b5cf6,#c084fc);
  animation: grow 2s ease forwards;
}

@keyframes grow{
  from{width:0;}
}

.cards{
  display:grid;
  grid-template-columns:repeat(auto-fit,minmax(300px,1fr));
  gap:30px;
}

.card{
  background:#111827;
  border-radius:20px;
  overflow:hidden;
  transition:0.4s;
}

.card:hover{
  transform:translateY(-10px);
  box-shadow:0 0 30px rgba(139,92,246,0.5);
}

.card img{
  width:100%;
  height:200px;
  object-fit:cover;
}

.card-content{
  padding:20px;
}

.card-content a{
  display:inline-block;
  margin-top:15px;
  color:#c084fc;
  text-decoration:none;
}

.contato {
  background:#111827;
  padding:120px 10%;
  display:flex;
  flex-direction:column;
  align-items:center;
  gap:40px; /* espaço entre título, botão e redes */
}

.btn {
  margin-top:20px;
}

.hero-img{
  width:180px;
  height:180px;
  border-radius:50%;
  object-fit:cover;
  margin-bottom:30px;
  border:4px solid #8b5cf6;
  box-shadow:0 0 40px rgba(139,92,246,0.6);
  animation: float 4s ease-in-out infinite;
}

@keyframes float{
  0%{transform:translateY(0);}
  50%{transform:translateY(-15px);}
  100%{transform:translateY(0);}
}


.skill.ultra p{
  color:#c084fc;
  font-weight:600;
}

.skill.ultra .bar div{
  background:linear-gradient(90deg,#8b5cf6,#ec4899);
  box-shadow:0 0 15px #8b5cf6;
}